* {
	margin: 0;
  	padding: 0;
}

*, *:before, *:after {
  	box-sizing: inherit;
}

html {
  	box-sizing: border-box;
  	font-family: 'Open Sans', helvetica, arial, sans-serif;
  	font-size: 16px;
}

main {
  	margin: 0 auto;
  	max-width: 1500px;
  	padding: 20px;
}

h1 {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.375em;
	line-height: 1.375em; 
}

p {
	font-size: 1em;
	line-height: 1.375em;
}

.cards {
	display: flex;
	flex-wrap: wrap;
  	background: #eee;  
	justify-content: space-around;
}

.card {
	background: #fff;
	border: 2px solid #aaa;
	border-radius: 5px;
	overflow: hidden;
	max-width: 29.375em;
	max-height: 18.75em;
	margin: 0 0 0.625em 0;
}

.card__body {
	display: flex;
}

.card__img {
	max-width: 9.375em;
	max-height: 9.375em;
	align-self: flex-start;
}

.card__text {
	overflow-y: auto;
	overflow-wrap: break-word;
}

.card h2 {
	overflow-wrap: break-word;
}

/* mynd fyllir út í card__img */ 
img {
	width: 100%;
}


